<div class="container-ok">
<%= render "components/header" %>

<!--Carousel Wrapper-->
<div class="img-back-blanc"><%= link_to(image_tag("back.png", alt: "QQ29 - all rights reserved."), root_path) %></div>
<div id="carousel-example-1z" class="carousel slide carousel-fade carousel-bottom" data-ride="carousel">

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->

    <div class="carousel-item active ">

      <div><div class="overlay"></div></div>
      <img class="d-block w-100 img-diapo" src="https://res.cloudinary.com/dntdrod1i/image/upload/v1598518672/Banni%C3%A8re-projet/Capture_d_%C3%A9cran_2020-08-27_%C3%A0_10.52.54_o6usnr.png"
        alt="First slide">
        <div class=" card-trip-infos-deux">

        <h2>ELLES</h2>
        <h3>Nina Cholet & Clothilde Matta</h3>
        <p>09/20 - Paris (Prochainement)</p>

      </div>
    </div>
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item">
      <div><div class="overlay"></div></div>
      <img class="d-block w-100 img-diapo" src="https://res.cloudinary.com/dntdrod1i/image/upload/v1598965516/Banni%C3%A8re-projet/GERALDFOLTETE-2_xjz9lk.jpg"
        alt="Second slide">
      <div class="card-trip-infos-deux">
        <h2>Le Syndrome de Stendhal</h2>
        <h3>Gérald Foltete</h3>
        <p>10/20 - Paris (Prochainement)</p>
      </div>
    </div>
    <!--/Second slide-->
    <!--Third slide-->
    <div class="carousel-item">
      <div><div class="overlay"></div></div>
      <img class="d-block w-100 img-diapo" src="https://res.cloudinary.com/dntdrod1i/image/upload/v1598965819/Banni%C3%A8re-projet/Capture_d_%C3%A9cran_2020-09-01_%C3%A0_15.09.55_adfwk8.png"
        alt="Third slide">
        <div class="card-trip-infos-deux">
        <h2>ALLER-RETOUR ENTRE ATHÈNES ET PARIS</h2>
        <h3>TIFFON x CHARLOTTE ACHKAR x ANNA L’HOSPITAL</h3>
        <p>Paris (Prochainement)</p>
      </div>
    </div>
    <!--/Third slide-->
        <div class="carousel-item">
          <div><div class="overlay"></div></div>
      <img class="d-block w-100 img-diapo" src="https://res.cloudinary.com/dntdrod1i/image/upload/v1598966082/Banni%C3%A8re-projet/thumb_IMG_2223_1024_clair_gwqhc1.jpg"
        alt="Third slide">
        <div class="card-trip-infos-deux">
        <h2>ALLER-RETOUR ENTRE ATHÈNES ET PARIS</h2>
        <h3>Vanina Langer</h3>
        <p>Paris (Prochainement)</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>

<% if user_signed_in? %>
<div class="flex-admin-deux"><%= link_to "Ajouter un article", new_article_path %></div>
<% end %>

<div class="display-grid-card">
  <% @article.each do |article| %>
    <div class="card-trip">
      <% if user_signed_in? %>
        <div class ="flex-admin">
          <%= link_to 'Supprimer', article_path(article),
            method: :delete,
            data: { confirm: 'Êtes-vous certain de vouloir supprimer?' } %>
          <%= link_to "Editer", edit_article_path(article.id)%>
        </div>
      <% end %>
          <%= image_tag("#{article.image_url_2}") %>
        <div class="card-trip-infos">
          <div>
            <h2><%= article.title %></h2>
            <h3><%= article.sous_titre %></h3>
            <p><%= article.lieu %></p>
          </div>
          <div class="card-trip-plus">
            <h4 class="card-trip-pricing"><%= article.date %></h4>
            <div class="btn-desk"><%= link_to "En savoir plus", article_path(article.id)%></div>
            <div class="btn-resp"><%= link_to "+", article_path(article.id)%></div>
            </div>
        </div>

    </div>
  <% end %>
</div>

<%= render "components/footer" %>

</div>
