

<div class="container-ok">
<%= render "components/header" %>
<div class="banner banner-resp" style="background-image: linear-gradient(122deg, rgba(0,0,0,0.1699054621848739) 0%, rgba(255,255,255,0.3575805322128851) 71%, rgba(0,0,0,0.2819502801120448) 100%), url(https://res.cloudinary.com/dntdrod1i/image/upload/v1597658655/le-souffle-des-particules_5269_onxkeu.jpg);">
  <div class="container-banner">
    <%= image_tag("QCDN-LOGO-DEF_Plan de travail 1 copie 2 2.png", alt: "Quelque chose de neuf")%>
    <a class="btn btn-light btn-banner" href="#">Nous soutenir</a>
  </div>
</div>

  <div class="display-section-1 display-section-1-resp">
    <div class="text-div">
      <h1 class="title-site">Le concept</h1>
      <p class="paraph-site">« Quelque Chose de Neuf », est un outil à destination des artistes visant à faciliter la diffusion de projets innovants. Fort d’une équipe bénévole de 100 acteurs du monde de la culture répartis en 10 pôles de compétences, « Quelque Chose de Neuf » offre aux artistes sélectionnés par appel à projets un soutien technique et logistique, de diffusion et d’archivage.
      Avec 10 projets portés par an, « Quelque Chose de Neuf » vise à proposer une synergie vertueuse et pérenne entre jeunes artistes, professionnels et publics.</p>
    </div>
    <div class="div-img-section-1">
      <img src="https://res.cloudinary.com/dntdrod1i/image/upload/v1597658655/le-souffle-des-particules_5269_onxkeu.jpg" class="img-section-1 img-section-1-resp">
      <p class="credit-home">Crédit photo - Tadzio</p>
    </div>
  </div>

  <div class="display-section-2 display-section-2-resp">
    <div class="sous-section-1">
      <%= image_tag("art copie.png", alt: "Edit Entry")%>
      <h1 class="title-section-2C">Des évènements toute l'année!</h1>
    </div>
    <div class="sous-section-1">
      <%= image_tag("team.png", alt: "Edit Entry")%>
      <h1 class="title-section-2B">une centaine de jeunes professionnels de la culture</h1>
    </div>
    <div class="sous-section-1">
      <%= image_tag("project.png", alt: "Edit Entry")%>
      <h1 class="title-section-2">10 pôles de compétences</h1>
    </div>
  </div>

<%= render "components/footer" %>
</div>

